<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Dev Test</title>
    <link rel="stylesheet" href="/stylesheets/devStyle.css" />
    <script type="module" src="/javascripts/client/src/scripts/devScript.js"></script>
</head>
    <body>
        <h1>GAME</h1>

        <label for="PlayerAmt">Number of Players (1-12):</label>
        <input id="PlayerAmt" type="number" name="PlayerAmt" min="1" max="12" value="1">
        
        <button id="CreatePlayers" type="button">Create Players</button>

        <br />

        <div id="Players"></div>
        
        <br />

        <button id="GO" type="button">GO!</button>
        
        <br />
        
        <div id="ActionLog"></div>
        
    </body>
</html>